html body {
	margin:0;
	padding:0;
	font-family:Arial, sans-serif;
}
.head {
	margin:0;
	padding:0;
	background-image:url(../grafika/naglowek.gif);
	background-repeat:repeat-x;
}
.head_inner {
	width:970px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	border-top:1px dotted #5e82e0;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url(../grafika/header_baner.gif);
}
.strona_glowna_mapa_serwisu {
	width:250px;
	height:20px;
	margin:15px;
	padding:5;
	font-size:.7em;
	float:left;
}
.strona_glowna_mapa_serwisu a {
	color:#fff;
	text-decoration:none;
	padding:8px;
	display:block;
	float:left;
}
.strona_glowna_mapa_serwisu a:hover {
	background-color:#fff;
	color:#7caeda;
	padding:8px;
}
.flaga {
	width:40px;
	height:20px;
	margin:5px 12px;
	padding:5px;
	font-size:.7em;
	float:right;
}
.flaga img {
	border:0;
	padding:1px 5px;
}
.logo {
	margin:110px 0 0 0;
}
.contest {
	width: 970px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.menu_kpl {	
	width:188px;
	height:auto;
	margin:0;
	padding:0;
	float:left;
}
.menu {	
	width:160px;
	height:auto;
	margin:30px 30px 10px 0;
	padding:0;
	border:1px solid #007AF5;
	background:#fff;
		
	behavior:url(border-radius.htc);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
.menu ul {
	margin:3px;
}
.menu li {
	width:160px;
	height:35px;
	margin:0 0 0 -39px;
	padding:0;
	font-size:0.8em;
	color:#fff;
	font-weight:bold;
	list-style-type:none;
	display:block;
}
.menu a {
	width:100px;
	margin:0 0 0 10px;
	padding:10px 14px;
	border-bottom:1px dotted #007af5;
	color:#007AF5;
	text-decoration:none;
	display:block;
}
.last a {
	border-bottom:none;
}
.menu a:hover {
	color:#fff;
	background:#007af5;
}
a.menu_wybrane { 
	padding:10px 0px 10px 25px;
	color:#7abbf4;
}
a.menu_wybrane:hover {
	color:#7abbf4;
	background:none;
}
.tresc_kpl {
	width: 550px;
	min-height: 600px;
	margin: 0 2px 0 0;
	padding: 0;
	float: left;
}
.navigator {
	width: 550px;
	height: 20px;
	margin: 20px 0 20px -20px;
	padding: 0;
}
.navigator a {
	color: #7caeda;
	font-size: .7em;
	text-decoration: none;
	padding: 8px;
	display: block;
	float: left;
}
.navigator a: hover {
	text-decoration: underline;
}
.tresc {
	width: 550px;
	height: auto;
	margin: 0;
	padding: 0;
}
.box_1 {
	width: 550px;
	height: auto;
	margin: 0;
	padding: 0;
}
.box_1 h6 {
	margin:15px;
	padding: 10px 0;
	color: #0072d5;
	font-size: 1.2em;
	border-top: 1px dotted #97a0a7;
}
h6.pierwszy_tekst {
	border-top: none;
	padding: 0;
}
.box_1 img	{
	padding: 15px;
	float: right;
}
.box_1 p, .box_1 ul {
	margin: 0;
	padding: 5px 20px;
	color: #000080;
	font-size: .8em;
	text-indent:40px;
	text-align: justify;
}
.box_1 a {
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	color: #97a0a7;
	display: block;
	float: right;
	text-decoration: none;
}
.box_1 li	{
	margin: 20px;
	padding: 0;
	color: #000080;
	font-size: 1em;
	text-indent:0px;
	list-style-image:url(../grafika/ptak.png);
}
.box_2 {
	width: 550px;
	height: auto;
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #97a0a7;
	border-top: 1px dotted #97a0a7;
}
.box_2 img	{
	padding: 15px;
	float: left;
}
.box_2 p {
	margin: 0;
	padding: 5px 20px;
	color: #000080;
	font-size: .8em;
	text-align: justify;
}
.box_2 a {
	margin: 0;
	padding: 0;
	font-size: 0.7em;
	color: #97a0a7;
	display: block;
	float: right;
	text-decoration: none;
}
h6.tekst_kolejny {
	margin: 20px 0 0 0;
}
.kolumna_prawa {
	width: 190px;
	height: auto;
	margin: 0 0 0 30px;
	padding: 0;
	float:left;
}
.ikony {
	width: 188px;
	height: 75px;
	margin: 30px 0 10px 0;
	padding: 0;
	border: 1px solid #97a0a7;
	background-image: url(../grafika/polcien.png);
}
.ikony img {
	border: 0;
	padding: 0 25px 7px 45px;
}
.ikony p, .box3 p {
	font-size: .7em;
	font-weight: bold;
	color: #97a0a7;
	padding: 13px 0 0 5px;
}
.box2 p {
	font-size: .8em;
	font-weight: bold;
	color: #007af5;
	padding: 13px 0 0 10px;
}
.box2 {
	width: 160px;
	height: auto;
	margin: 10px 0;
	padding: 0;
	border: 1px solid #007af5;
	background-image: url(../grafika/blank.png);
		
	behavior: url(border-radius.htc);
	-moz-border-radius:  8px;
	-webkit-border-radius:  8px;
	border-radius:  8px;
}
.box3 {
	width: 188px;
	height: auto;
	margin: 10px 0 10px 0;
	padding: 0;
	border: 1px solid #97a0a7;
	background-image: url(../grafika/polcien.png);
		}
.box2 img, .box3 img, .sprzet img {
	border: 0;
	margin: auto;
	padding: 10px 0 15px 0;
	display: block;
}
.sprzet {
	width: 188px;
	height: 120px;
	margin: 10px 30px 0 0;
	padding: 0;
	border: 1px solid #97a0a7;
	background-image: url(../grafika/bialaczka.png);
		
	behavior: url(border-radius.htc);
	-moz-border-radius:  8px;
	-webkit-border-radius:  8px;
	border-radius:  8px;
}
.sprzet img {
	border: 0;
	padding: 3px;
}
.popieramy p {
	font-size: .7em;
	font-weight: bold;
	color: #97a0a7;
	margin: 0;
	padding: 0;
}
.dopalacze {
	width: 188px;
	height: 110px;
	margin: 10px 0 0 0;
	padding: 0;
	border: 1px solid #fff;
	background-image: url(../grafika/dopalacze.gif);
		
	behavior: url(border-radius.htc);
	-moz-border-radius:  8px;
	-webkit-border-radius:  8px;
	border-radius:  8px;
}
.dopalacze img {
	border: 0;
	padding: 3px;
}
.footer_kpl {
	margin: 0;
	padding: 0;
	background-image: url(../grafika/stopka.gif);
	background-repeat: repeat-x;
	clear:both;
}
.footer {
	width: 940px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	padding-top:20px;
}
.foot1 {
	width: 940px;
	height: auto;
	margin:10px 0 0 0;
	padding: 0;
}
.foot1 p {
	font-size: 0.6em;
	color: #808080;
}
.foot1 img {
	margin: 2px 10px;
	float: left;
}
.menu_stopka {
	width: 940px;
	height: auto;
	margin: 0;
	padding: 5px;
	font-size: .7em;
}
.menu_stopka a {
	color: #fff;
	text-decoration: none;
	padding: 4px;
	display: block;
	float: right;
}
.menu_stopka a: hover {
	text-decoration: underline;
}
.foot_bottom {
	width: 940px;
	height:100px;
	padding: 8px 0 0 0;
	font-size: .7em;
	text-align: center;
	color: #fff;
}
.foot_bottom p {
	text-align: right;
	padding: 0 10px 0 0;
}
.foot_bottom a {
	text-decoration: none;
	color: #fff;
}		